
/* Blog */

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

:root {
  --dark-one: #1b1b1b;
  --dark-two: #5a5a5a;
  --main-color: #b9de52;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
}

/* Genral Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Tajawal", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}


.container {
  
  position: relative;
  z-index: 5;
  max-width: 75%;
 height: 300px;
  text-align: right;
  margin-bottom: 2rem ;
  background-color: var(--main-color);

}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

  .title {
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    line-height: 1;
    font-size: 2.8rem;
    margin-bottom: 0.1rem;
    text-align: right;
  }
  
  .title:before {
    content: attr(data-title);
    display: block;
    margin-bottom: 0.4rem;
    color: var(--main-color);
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .title:after {
    content: "";
    position: absolute;
    width: 98%;
    height: 5px;
    border-radius: 3px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .section-header .text {
    max-width: 600px;
    margin: 0 auto;
    
  }
  
  .portfolio .title,
  .portfolio .title:before {
    color: var(--light-one);
  }
  
  .portfolio .title:after {
    background-color:#6b44e0;
  }
  .title-sm {
    color: #6b44e0;
    font-weight: 600;
    font-size: 1.6rem;
  }
  
.section {
    padding: 7rem 0;
    overflow: hidden;
  }
  
  .section-header {
    text-align: center;
    margin-bottom: 1.5rem;
  }