
/* Blog */
body{
    border: #b9de52 solid 20px;
}
.grid {
    margin: 0.2rem 0;
  }
.blog-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .blog-wrap {
    position: relative;
    margin: 1.3rem 0.5rem;
  }
  
  .blog-card {
    max-width: 420px;
    width: 100%;
    overflow: hidden;
    background-color: var(--light-two);
    transition: 0.3s;
    position: relative;
  }
  
  .blog-card:after {
    content: "";
    position: absolute;
    width: 1100%;
    height: 0px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    transition: 0.3s;
  }
  
  .blog-image {
    width: 100%;
    height: 270px;
    position: relative;
    overflow: hidden;
  }
  
  .blog-image img {
    position: absolute;
    height: 105%;
    width: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
  }
  
  .blog-content {
    padding: 2.1rem 2.2rem 2.7rem 2.2rem;
  }
  
  .blog-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
  }
  
  .blog-info h5 {
    color: var(--main-color);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.05rem;
    letter-spacing: 2px;
  }
  
  .blog-date {
    margin-right: 2rem;
  }
  
  .blog-user i {
    margin-right: 0.2rem;
    font-size: 1rem;
  }
  
  .blog-text {
    margin: 0.5rem 0 1.5rem 0;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #666;
    text-align: right;
  }
  
  .blog-card:hover {
    transform: translateY(-15px);
  }
  
  .blog-card:hover:after {
    height: 8px;
  }
  
  .blog-card:hover .blog-image img {
    transform: translate(-50%, -50%) scale(1.15);
  }
 
  /* End Blog */