
/* Blog */

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');

:root {
  --dark-one: #1b1b1b;
  --dark-two: #5a5a5a;
  --main-color: #b9de52;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
}

/* Genral Styles */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Tajawal", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}



.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.blog 
{  position: relative;
  width: 100%;
background-color: var(--light-three);}

.background-bg {
  position: absolute;
  width: 100%;
  height: 400px;

  background-color: var(--main-color);
}
.container {
  
  justify-content: center;
  width: 100%;

}
.section-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

  .blog .title {
    margin: 2rem;
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    padding-right: 2rem;
    line-height: 1;
    font-size: 2.8rem;
   
    text-align: right;
  }
  
  .blog .title:before {
    content: attr(data-title);
    display: block;
    margin-bottom: 0.4rem;
    margin-right: 1rem;
    color: var(--main-color);
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .blog .title:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    border-radius: 3px;
    background-color: var(--main-color);
    bottom: 0;
    right : -2%;
    transform: translateX(-50%);
  }
  
  .section-header .text {
    max-width: 600px;
    margin: 0 auto;
    
  }
  

  .blog .title,
  .blog .title:before {
    color: var(--light-one);
  }
  
  .blog .title:after {
    background-color:#6b44e0;

  }
  .title-sm {
    color: #6b44e0;
    font-weight: 600;
    font-size: 1.6rem;
}

.header-image  {

 display: flex;
 justify-content: center;     
}


.header-image img{
  position: relative;
  margin: 0 auto;
  box-shadow: -10px 10px 10px rgb(0, 0,0, 0.03);
  border-radius: 16px;
  height: 350px;
  width:initial;

}
.container2  {
  width: 100%;
  display: flex;
  justify-content: center;
       
       
 }
.article{

    background-color: var(--light-one);
    margin-top: 2rem;
    padding: 2rem;
    direction: rtl;
    border-radius: 16px;
    
    width: 60%;
    margin-bottom: 2rem;
box-shadow: -10px 10px 10px rgb(0, 0,0, 0.03);

}
 .article .text{
   color: var(--dark-two);
   font-size: 1.2rem;
   line-height: 1.6;
 }

  h2{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: var(--main-color);
  }
  h3{

    padding-top: 1rem;
    padding-bottom: 1.5rem;
    color: #6b44e0;
  }

  @media  (max-width: 850px) {
    .header-image {
      height: 210px;
      max-width: 270px;
     
    }

    .background-bg {
      height: 340px;
    }
  }

  @media (max-width: 560px) {
    .container {
      padding: 0 2rem;
    }
  
    .title {
      font-size: 1.8rem;
    }
  
    .text {
      font-size: 0.92rem;
    }


  }